<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="base_link">
    </link>

    <joint name="base_joint" type="fixed">
        <parent link="base_link"/>
        <child link="body_link"/>
    </joint>

    <link name="body_link">
        <visual>
            <origin xyz="0 0 ${body_height/2}" />
            <geometry>
                <box size="${body_depth} ${body_width} ${body_height}" />
            </geometry>
            <material name="blue"></material>
        </visual>

        <collision>
            <origin xyz="0 0 ${body_height/2}" />
            <geometry>
                <box size="${body_depth} ${body_width} ${body_height}" />
            </geometry>
        </collision>

        <xacro:inertial_box mass="${body_mass}" x="${body_depth}" y="${body_width}" z="${body_height}">
            <origin xyz="0.0 0.0 ${body_height/2}"/>
        </xacro:inertial_box>
    </link>

</robot>