<?xml version="1.0"?>

<robot name="balance_bot"
    xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Colours/Materials -->
    <xacro:include filename="materials.xacro"/>
    <!-- Inertial properties -->
    <xacro:include filename="inertial_macros.xacro"/>

    <!-- dimensional constants -->
    <xacro:property name="body_height" value="0.3" />
    <xacro:property name="body_width" value="0.15" />
    <xacro:property name="body_depth" value="0.08" />

    <xacro:property name="wheel_radius" value="0.05" />
    <xacro:property name="wheel_width" value="0.03" />

    <!-- groud clearance will be same as wheel radius -->
    <xacro:property name="ground_clearance" value="0.05" /> 

    <xacro:property name="body_mass" value="1.0" />
    <xacro:property name="wheel_mass" value="0.1" />

    <!-- Robot Parts -->
    <xacro:include filename="body.xacro"/>
    <xacro:include filename="wheels.xacro"/>
    <xacro:include filename="imu.xacro"/>

    <!-- Gazebo plugins -->
    <xacro:include filename="gazebo.xacro"/>
    <!-- ROS2 Control Plugin -->
    <xacro:include filename="ros2_control.xacro"/>

</robot>